*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

:root {
    --reg: #101010;
    --btn: #00ff00;
    --wrong: red;
    --correct: green;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--reg);
}

body.correct {
    background-color: var(--correct);
}
body.wrong {
    background-color: var(--wrong);
}

.quizArea {
    width: 800px;
    max-width: 80%;
    background-color: #333333;
    border-radius: 5px;
    padding: 10px;
    box-shadow: lime 0 0 10px 2px;
}

#question {
    color: #00ff00;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
    
}

.btn {
    background-color: var(--btn);
    border: 2px solid #101010;
    border-radius: 5px;
    padding: 5px 10px;
    color: #101010;
}

.btn:hover {
    box-shadow: #ff00ff 0 0 10px 2px;
}
.btn.correct {
    background-color: #00ff7f;
}
.btn.wrong {
    background-color: #ff4040;
}

.startBtn, .nxtBtn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.cntrl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}